@import "./font.css";
@import "./normalize.css";


* {box-sizing: border-box; }

.wrapper {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
body {
  margin:0px;
  font-family: 'Roboto';
}

.nav_shelf a {
  text-decoration: none;
  font-weight: 400;
  margin-right: 30px;
  font-size: 14px;
  color: black;
}
.nav_shelf:last-child {
  margin-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  
}
.shelf_color {
  margin: 0px;
  background-color: #EFEFEF;
  height: 50px;
  text-align: center;}




.logo {
  display: inline-block;
  margin: 0px;
  padding-top: 20px;
  width: 258px;
  height: 80px;
}

.button {
  display: inline-block;

  margin: 0px;
  margin-bottom: 20px;
  border-radius: 40px;
  font-size: 14px;
}
.number  {
  display: inline-block;
  margin-left: 600px;
  margin: top 0px;
  padding-top: 50px;
  padding-bottom: 50px;

  

}
.action  {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;  
}

.banner {
  background-color: #F13C6E;
  text-align: center;
  height: 604px;
}


.line::after {
  content: "";

  height: 2px;
  width: 30px;
  background-color: #F13C6E;
  vertical-align: middle;

 }
.down_shelf a {
  margin-right: 30px;
}
.down_shelf {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


.main_bagcolor {
  background-color: #C4C4C4;
}

.section_indent {
  padding-top: 60px;
}

.card_slide {
  display: inline-block;
  margin: 0px;
  margin-right: 30px;
  width: 252px;
}

.card_slide:nth-child(4) {
  margin-right: 0px;
}

.slide_img {
  margin: 0px;
  padding-top: 25px;
  padding-right: 65px;
  padding-left: 65px;
  padding-bottom: 10px;
}

.slide_text {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

.slide_button {
  margin: 0px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  background-color: #F13C6E;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #EFEFEF;
  display: block;
  margin-left: auto;
  margin-right: auto
}

