@import "./font.css";
@import "./normalize.css";

* {box-sizing: border-box; }

.wrapper {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin:0px;
  font-family:'Roboto';
}

.main_header {
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

 .main_header nav a {
  margin: 0px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin-right: 30px;
}

nav a:last-child{
  margin-right: 0px;
}

.main_links{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.telephone a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: auto;
  margin-right: 40px;
}

.Feedback {
  display: flex;
  align-items: center;
}

.call_button {
  margin: 0px;
  padding: 0px;
  border-radius: 40px;
  border: 2px solid red;
  background-color: white;
}

.call_button a {
  display:flex;
  margin: 0px;
  text-decoration: none;
  padding: 8px 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.line {
  border-bottom:2px solid #EFEFEF;
}

.bottom_header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom_header a {
  margin-right:40px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.bottom_header a:last-child {
  margin-right: 0px;
}

.banner {
  background-color: #F13C6E;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.opening_text {
  margin: 0px;
  color: white;
  padding-top: 192px;
  padding-bottom: 192px;  
}

.opening_text h2 {
  margin: 0px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  padding-bottom: 30px;
}

.opening_text p {
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 318px;
  padding-bottom: 50px;
}

.opening_text button {
  margin: 0px;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
}

.opening_text button a {
  display: inline-block;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 34px;
  padding-left: 34px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color:white;
}

main {
  display: flex ;
  margin: 0px;
  background-color: #EFEFEF;
}

h3 {
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.cards {
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
} 

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 255px;
  border-radius: 10px;
  padding: 25px 30px; 
}

 .card img {
  margin-bottom: 20px;
} 

.price {
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 26px;
  line-height: 25px;
  color: #000000;
}

.description {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 155px;
}

.card_button {
  margin: 0px;
  background: #F13C6E;
  border: none;
  border-radius: 40px;
  
}

.card_button a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 10px 40px;
}

.form_position {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.first_form {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F13C6E;
  width: 540px;
  border-radius: 20px;
  padding-top: 35px;
  padding-left: 40px;
  padding-bottom: 35px;
  padding-right: 45px;
}

.form_content h4 {
  margin: 0px;
  margin-bottom: 25px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.form_content p {
  margin: 0px;
  margin-bottom: 25px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 225px;
}

.form_content input {
  outline: none;
  border-radius:30px;
  border: none;
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}

.form_content input:active {
  border-radius: none;
}

form img {
  margin: 0px;
  display: flex;
  width: 140px;
  height: 106px;
}

.last_form {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F13C6E;
  width: 540px;
  border-radius: 20px;
  padding-top: 35px;
  padding-left: 40px;
  padding-bottom: 35px;
  padding-right: 45px;
}

.busik {
  justify-items: center;
  width: 188px;
  height: 100px;
}

.second_form h4 {
  margin: 0px;
  margin-bottom: 25px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.second_form p {
  margin: 0px;
  margin-bottom: 25px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 225px;
}

.second_form input {
  outline: none;
  border-radius:30px;
  border: none;
  margin: 0px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}

.impusl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.impusl div {
  margin: 0px;
  width: 25%;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  background-color: white;
}

.impusl div a {
  padding: 35px 64px 35px 64px;
  display: flex;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.recent_cards {
  margin-bottom: 80px;
}

.cards_viewed{
  display: flex;
  gap: 30px;
  margin: 0px;
}

.color_footer {
  background: #FFFFFF;
}

h5 {
  font-weight: 800;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  width: 98px;
  margin-bottom: 30px;
}

.line_footer {
  border-bottom:2px solid #EFEFEF;
  width: 254px;
  margin-bottom: 30px;
}

.footer_menu_section {
  margin: 0px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.menu_footer {
  display: flex;
  flex-direction: column;
}

.menu_footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social_network {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 46px;
  height: 46px;
  border: 2px solid #F13C6E;
  border-radius: 46px;
  margin-right: 20px;
}

.icons {
  display: flex;
}

.you_tub:last-child {
  margin-right: 0px;
}

.you_tub a {
  padding-top: 3px;
  padding-left: 2px;
}

.form_footer {
  display: flex;
  align-items: center;
}

.color_mini_footer {
  background-color: #EFEFEF; 
}

.pud {
  padding-top: 30px;
  padding-bottom: 30px;
}

.privacy_policy {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.privacy_policy p {
  margin: 0px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.line_b {
  border-bottom:2px solid #EFEFEF;
}