* {box-sizing: border-box; }

.wrapper {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
body {
  margin:0px;
}

.nav_shelf a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
  color: black;
}
.nav_shelf:last-child {
  margin-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.shelf_color {
  margin: 0px;
  background-color: #EFEFEF;
  height: 50px;
  text-align: center;}

.logo {
  width: 258px;
  height: 80px;
}

.button {
  border-radius: 40px;
  font-size: 14px;
}